services:
  database:
    container_name: database
    image: postgres:16.0-alpine3.18
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - ../.env.development
    ports:
      - "5432:5432"
    restart: unless-stopped    
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"    

volumes:
  pgdata:
